{% extends "base.html" %}

{% block title %}Król Sentino{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="grid grid-cols-2 gap-4 w-2/3">
        <a href="/points" class="bg-gray-800 hover:bg-blue-800 text-white font-bold py-4 rounded-lg text-center transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Algorytm Grahama
        </a>
        <a href="https://example.com" class="bg-gray-800 hover:bg-blue-800 text-white font-bold py-4 rounded-lg text-center transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Kodowanie Huffmana
        </a>
        <a href="https://example.com" class="bg-gray-800 hover:bg-blue-800 text-white font-bold py-4 rounded-lg text-center transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Algorytm Knutha-Morrisa-Pratta
        </a>
        <a href="https://example.com" class="bg-gray-800 hover:bg-blue-800 text-white font-bold py-4 rounded-lg text-center transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Maksymalny przepływ
        </a>
    </div>
    </div>

{% endblock content %}